.items {
    list-style: none;
    padding-left: 0;

    article button, article p, article input {
        display: inline-block;
    }
}

.toDoItem {

}

.toDoItem {

    &:hover {
        .check {
            display: inline;
            background-color: #00f42f;
            height: 20px;
        }
        .delete {
            display: inline;
            background-color: #ff0000;
            height: 20px;
        }
    }

    .delete {
        display: none;
    }
}
